@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["A Vinyl Record Collection and Auction application"]</h3>

<p>It will allow the owner of the collection to enter all of the records, with pertinent indentifying and condition information, and then create subset auction sheets to allow others to bid for the purchase of each record in the auction.  Potential bidders will be able to create accounts and submit bids at each auction for the records they want.  At the end of the auction (determined by auction date and time information), the bids will be sifted for winners, who will be notified.</p>
